# Database Configuration
DATABASE_URL=postgres://user:password@localhost:5432/nyumba?sslmode=disable

# Server Configuration
PORT=3000
JWT_SECRET=your_super_secret_jwt_key_here

# M-Pesa Credentials (Daraja API)
MPESA_KEY=
MPESA_SECRET=
MPESA_SHORTCODE=
MPESA_PASSKEY=
MPESA_ENV=sandbox # sandbox or production

# Cloudinary Storage
CLOUDINARY_URL=
